.home__container {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

@media all and (max-width: 768px) {
      .home__container {
            padding: 20px;
      }
}
