.header {
      width: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 100px 0px 100px;
}

.header__link {
      text-decoration: none;
      color: #ff6060;
      font-size: 24px;
      font-weight: 500;
      white-space: nowrap;
      margin-left: 40px;
}

.header__link--active {
      text-decoration: underline;
}

.header__logo {
      width: 210px;
}

@media all and (max-width: 768px) {
      .header {
            margin: 20px 20px 0px 20px;
      }

      .header__link {
            font-size: 12px;
            text-transform: uppercase;
            margin: 0px 0px 5px 10px;
      }

      .header__nav {
            width: 220px;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
      }

      .header__logo {
            width: 145px;
      }
}
